html, body {
  height: 50%;
  width: 50%;
  background-color: transparent;
}

#mycanvas {
  background-color: #070303;
  height:320px;
  width:480px;
}

#canvas-container{
  margin: 0px auto;
  max-width:480px;
  max-height:10px;
}
